body {
  font-family: Arial, Helvetica, sans-serif;
}
.producto {
  display: inline-block;
  width: 200px;
  border: dashed 1px #0099FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 3px;
}
.producto .genero {
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #1485ff;
}
.producto .genero.Mujer { background-color: #ff0066 !important; }
.producto .descripcion {
  min-height: 32px;
}
.producto .marca_valor { font-weight: bold; text-transform: uppercase; }
.producto .url {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../imgs/sprites.png");
  background-position: -1px -1px;
  outline: none;
}
.producto img.vistaprevia {
  max-width: 100%;
}
.producto .precio {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 20px;
  color: #d00;
  background-color: #feff26;
  padding: 0px 4px;
  border: 1px solid #d00;
  border-radius: 5px;
}
