body {
  font-family: Arial, Helvetica, sans-serif;
}
.product {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  border: dashed 1px #0099FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 3px;
  text-decoration: none;
  color: #206bdb !important;
}
.product .store {
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  color: #fff;
}
.product .description {
  min-height: 32px;
}
.product img.preview {
  max-width: 100%;
}
.product .price {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 20px;
  color: #d00;
  background-color: #feff26;
  padding: 0px 4px;
  border: 1px solid #d00;
  border-radius: 5px;
}
